//Color Codes
$primary-color: #005B96;
$secondary-color: #ffffff;
$text-color: #000000;
$tertiary-color: #ffe5b4;
table {
    color: $text-color;
    background-color:$secondary-color;
    border: 1px solid $primary-color;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    overflow: auto;
    width: 100%;
}

.table-top{
    padding: 10px 10px;
    font-size: 1rem;
}

table thead th {
    color: $secondary-color;
    background-color: $primary-color;
    border-color:$primary-color;
    font-weight: bold;
    font-size: 0.9em;
    padding: 15px 10px;
    vertical-align: bottom;
    text-align: left;
    border: 1px solid $tertiary-color;
    text-transform: uppercase;
}

table tbody td {
    border: 1px solid $tertiary-color;
    padding: 15px 8px;
    vertical-align: top;
     
}

table tbody td:first-child {
    .facopy{
        display: none;
    }
}
table tbody tr:nth-child(2n+1) {
    background-color: aliceblue;
}

table tbody tr{
    &:hover{
        background-color: $tertiary-color;
        cursor: pointer;
        color: $text-color;
    }

}
table tbody tr td input[type="checkbox"]{
height: 15px;
width: 15px;
border-radius: 10px;
}

table tbody tr td input:checked {
    background-color: #474242;
}

//fa icon
.fasort{
    font-size: 15px;
}
.facopy{
    font-size: 15px;
}
.fasearch{
    font-size: 15px;
    margin-right: 5px;
    color: $primary-color;
}
.table-top
{
input[type='text'] {
    color:$text-color;
    border-color: $primary-color;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    padding: 8px 0px;
    font-size: 1rem;
    border:2px solid $primary-color;
    &:focus{
        border: 2px solid $primary-color;
    }
}
}


//Pagination
.pagination{
    margin-top: 20px;
}

.pagination button.active {
    background-color: $primary-color;   
    color: white;
}

