.App {
  text-align: center;
}
.mr-5{
margin-right: 5px;
}


.d-flex{
  display: flex;
}
.justify-content-space-between{
  justify-content: space-between;
}

.d-none{
  display: none;
}
.d-block{
  display: block;
}
